    <!-- <canvas class='my-canvas-keyboard' id='my-canvas-keyboard'></canvas> -->
<div class='master'>
  <div class='canvas-div' row>
    <canvas class='my-canvas' id='my-canvas'></canvas>

    <!-- <div class='setting-glyph-div'>
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </div> -->

    <div class='dialog-boxes-container'>

      <div class='start-game-box dialog-box' id='start-game'>
        <p id='result-string-0'>
          Game Over
        </p>
        <%= render partial: "layouts/result_table" %>
        <p id='result-string-3'>
          Move to the next level or drill weakness?
        </p>
        <p class="my-dialog-font" id="">
          <button class='game-start-button myButton'
                  id='game-start-button'
                  type="button">
            Start Game
          </button>
        </p>

      </div>
      <canvas class='my-canvas-keyboard' id='my-canvas-keyboard'></canvas>
      <%= render partial: "layouts/new_user" %>
      <%= render partial: "layouts/new_session" %>


    </div> <!-- dialog-boxes-container -->

    <%= render partial: "layouts/navbar" %>
  </div> <!-- canvas-div -->
</div> <!-- master -->

<!--########################################################################  -->

<script type="application/javascript">
  (function () {
    var canvasEl = document.getElementById("my-canvas");
    canvasEl.width = TypingFrenzy.Game.DIM_X;
    canvasEl.height = TypingFrenzy.Game.DIM_Y;
    var ctx = canvasEl.getContext("2d");

    var keyboardCanvasEl = document.getElementById("my-canvas-keyboard");
    keyboardCanvasEl.width = 500
    keyboardCanvasEl.height = 176;
    var ctx_kbd = keyboardCanvasEl.getContext("2d");

    // Restart game.
    var startGame = function(demoMode) {
      // var game = new TypingFrenzy.Game(ctx, ctx_kbd);
      var game = new TypingFrenzy.Game({
        "ctx": ctx,
        "ctx_kbd": ctx_kbd,
        "demoMode": demoMode
        });
      this.currentGameView = new TypingFrenzy.GameView(game, ctx);
      this.currentGameView.start();
      document.getElementById("my-canvas-keyboard").style.display = "none";
    }

    startGame(true)

    // When an <li> is clicked, change the wordList to the corresponding list.
    var updateWordList = function() {
      game.getWordList(event.target.name)
    }
    $('.dropdown-menu li').on("click", function() { updateWordList(); })

    // Show Sign In and Sign Up dialog boxes on click.
    $('.my-sign-up').on("click", function() {
      document.getElementById("new-user-box").style.display = "block";
      document.getElementById("new-session-box").style.display = "none";
      })

    $('.my-sign-in').on("click", function(){
       document.getElementById("new-session-box").style.display = "block";
       document.getElementById("new-user-box").style.display = "none";
       })

    $('.my-sign-in').on("click", function(){
       document.getElementById("new-session-box").style.display = "block";
       document.getElementById("new-user-box").style.display = "none";
       })

    // When you click the start button...
    that = this;
    $('.game-start-button').on("click", function(){
      document.getElementById("start-game").style.display = "none";
      that.currentGameView.stop();
      startGame(false);
       })

  })();
</script>
