<div class='master'>
  <div class='canvas-div' row>
    <canvas class='my-canvas'></canvas>
    <!-- <div class='setting-glyph-div'>
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </div> -->

    <div class='dialog-boxes-container'>
      <div class='start-game-box dialog-box frosted' id='start-game'>
        <p class="my-dialog-font" id="">Start Game</p>

        <ul class="nav navbar-nav">
          <li> <a id="countdown">[time] </a> </li>
          <li> <a id="wpm-box">[score] </a> </li>
        </ul>
        
      </div>
      <%= render partial: "layouts/new_user" %>
      <%= render partial: "layouts/new_session" %>
    </div> <!-- dialog-boxes-container -->

    <%= render partial: "layouts/navbar" %>
  </div> <!-- canvas-div -->
</div> <!-- master -->

<!--########################################################################  -->

<script type="application/javascript">
  (function () {
    var canvasEl = document.getElementsByTagName("canvas")[0];
    canvasEl.width = TypingFrenzy.Game.DIM_X;
    canvasEl.height = TypingFrenzy.Game.DIM_Y;

    var ctx = canvasEl.getContext("2d");
    var game = new TypingFrenzy.Game(ctx);
    new TypingFrenzy.GameView(game, ctx).start();

    // When an <li> is clicked, change the wordList to the corresponding list.
    var updateWordList = function() {
      game.getWordList(event.target.name)
    }
    $('.dropdown-menu li').on("click", function() { updateWordList(); })

    // Show Sign In and Sign Up dialog boxes on click.
    $('.my-sign-up').on("click", function() {
      document.getElementById("new-user-box").style.display = "block";
      document.getElementById("new-session-box").style.display = "none";
      })

    $('.my-sign-in').on("click", function(){
       document.getElementById("new-session-box").style.display = "block";
       document.getElementById("new-user-box").style.display = "none";
       })

    $('.my-sign-in').on("click", function(){
       document.getElementById("new-session-box").style.display = "block";
       document.getElementById("new-user-box").style.display = "none";
       })

  })();
</script>
