<div class='master'>
  <div class='canvas-div' row>
    <canvas class='my-canvas' id='my-canvas'></canvas>

    <div class='dialog-boxes-container'>

      <div class='start-game-box dialog-box' id='start-game'>

        <div class='game-over-dialog-box' id='game-over-dialog-box'>
          <p class='result-string-0'>
            Game Over
          </p>
          <%= render partial: "layouts/result_table" %>
        </div>

        <p class="my-dialog-font" id="">
          <button class='game-start-button myButton'
                  id='game-start-button'
                  type="button">
            Start Game
          </button>
        </p>
          <div class='instructions-box' id='instructions-box'>
            <p class='instructions-text'>
              Type the words on each fish!
            </p>
          </div>
      </div>
      <div class='keyboard-div' id='keyboard-div'>
        <canvas class='my-canvas-keyboard' id='my-canvas-keyboard'> </canvas>
        <span class='no-mistakes-msg' id='no-mistakes-msg'>no mistakes</span>
      </div>

      <%= render partial: "layouts/new_user" %>
      <%= render partial: "layouts/new_session" %>


    </div> <!-- dialog-boxes-container -->

    <%= render partial: "layouts/navbar" %>
  </div> <!-- canvas-div -->
</div> <!-- master -->

<!--########################################################################  -->

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
<script type="application/javascript">
  (function () {
    this.wordList = '';
    var canvasEl = document.getElementById("my-canvas");
    canvasEl.width = TypingFrenzy.Game.DIM_X;
    canvasEl.height = TypingFrenzy.Game.DIM_Y;
    var ctx = canvasEl.getContext("2d");

    var keyboardCanvasEl = document.getElementById("my-canvas-keyboard");
    keyboardCanvasEl.width = 500
    keyboardCanvasEl.height = 176;
    var ctx_kbd = keyboardCanvasEl.getContext("2d");

    // Start or restart game.
    var startGame = function(demoMode) {
      // Remove previous game
      if (this.game !== 'undefined'){ this.game = null; };

      // Remove previous gameView
      if (this.currentGameView !== 'undefined'){ this.currentGameView = null; };

      this.game = new TypingFrenzy.Game({
        "ctx": ctx,
        "ctx_kbd": ctx_kbd,
        "demoMode": demoMode,  // Not used?
        'startWordList': this.wordList || 'In_Position_01'
        });
      this.currentGameView = new TypingFrenzy.GameView(this.game, ctx);
      this.currentGameView.start();
      if (demoMode){ this.currentGameView.unbindKeys();}  //comment this to debug the slowdown issue
    };

    startGame(true)

    // When an <li> is clicked, change the wordList to the corresponding list.
    var updateWordList = function() {
      this.game.getWordList(event.target.name);
      this.wordList = event.target.name;
    }
    $('.dropdown-menu li').on("click", function() { updateWordList(); })

    // Show Sign In and Sign Up dialog boxes on click.
    $('.my-sign-up').on("click", function() {
      document.getElementById("new-user-box").style.display = "block";
      document.getElementById("new-session-box").style.display = "none";
      })

    $('.my-sign-in').on("click", function(){
       document.getElementById("new-session-box").style.display = "block";
       document.getElementById("new-user-box").style.display = "none";
       })
       document.getElementById("instructions-box").style.display = "block";
    // When you click the start button...
    that = this;
    $('.game-start-button').on("click", function(){
      document.getElementById("start-game").style.display = "none";
      window.currentGameView.stop();
      startGame(false);
       })

  })();
</script>
