.dialog-boxes-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;

  /*border:1px solid white;*/

}
.dialog-box {
  position: relative;
  padding: 10px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
  border-radius: 5px;
  margin: 20px auto;
  width: 200px;
  height: 100%;
  background: black;
  background: rgba(200,200,200, .4);
}

.start-game-box {
  height: auto;
}
.game-over-dialog-box {
  margin: 0;
  padding: 0;
  display: none;
  /*background-color: yellow;*/
}
.user-session-box {
  display: none;
  height: 200px;
}

.my-dialog-font {
  font-size: 24px;
  font-family: Avenir Next, Avenir, Verdana, sans-serif;
  font-weight: 300;
  color: white;
  margin: 0 auto;
}

.keyboard-heatmap{
  display: none;
  /*background-color: red;*/
  border-radius: 10px;
}

.result-label-1 {
  text-align: left !important;
}

.result-string-0 {
  text-align: center !important;
  color: black;
}
.result-string-1 {
  text-align: center !important;
}
.result-string-2 {
  text-align: center !important;
}
.instructions-text {
  text-align: center !important;
  font-size: 20;
  margin: 0px;
  padding: 0px;
}
.instructions-box {
  padding: 5px;
  width: auto;
  height: auto;
  background-color: grey;
  text-align: center !important;
  font-size: 20;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 10px;
}
