.dialog-boxes-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
}
.dialog-box {
  position: relative;
  padding: 10px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
  border-radius: 5px;
  margin: 20px;
  width: 200px;
  height: 100%;
  background: black;
  background: rgba(200,200,200, .4);
}

.start-game-box {
  height: 100px;
}
.user-session-box {
  display: none;
  height: 200px;
}

.my-dialog-font {
  font-size: 24px;
  font-family: Avenir Next, Avenir, Verdana, sans-serif;
  font-weight: 300;
  color: white;
  margin: 0 auto;
}

.game-start-button {
  position: relative;
  background-color: transparent;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5%;
  /*transform: translateY(50%);*/
  /*margin: auto;*/
}
