body{
  background-color: rgb(176, 176,176) !important;
}

.master {
    padding: 10px;
    margin: 15px auto;
    display: block;
    background-color: rgb(176,176,176);
    border-radius: 10px;
}
.canvas-div {
    position: relative;
    display: block;
    background-color: rgb(176,176,176);
    border-radius: 10px;
    margin: 0px auto;
    width: 900px;
    -webkit-box-shadow: 3px 3px 16px 0px rgba(49, 50, 50, 0.75);
-moz-box-shadow:    3px 3px 16px 0px rgba(49, 50, 50, 0.75);
box-shadow:         3px 3px 16px 0px rgba(49, 50, 50, 0.75);
}
.navbar-div {
    /*display: none;*/
    /*visibility: hidden;*/
    position: absolute;
    padding: 0;
    top: 0;
    width: 100%;
    background-color: transparent !important;
    /*color: white !important;*/

}
.navbar-div:hover {
    display: block;
}

.my-navbar {
  padding: 0px !important;
  margin: 0px !important;
  background-image: none !important;
  background-color: transparent !important;
  border-color: transparent !important;
  color: red !important;

}














canvas {
    padding: 0;
    margin: 0;
    display: block;
    width: 900px;
    height: auto;
    border-radius: 10px;
}
.setting-glyph-div {
    /*background-color: coral;*/
    position: absolute;
    width: 100%;
    height: 52px;
    z-index: 10 !important;
    top: 0px;
}

.setting-glyph-div:hover ~ .navbar-div {
  display: block;
  z-index: 20 !important;
}
.setting-glyph-div:hover {
  display: none;
  z-index: -20 !important;
}


/*.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  red;
}*/

.navbar .nav > li > a {
    float: none;
    color: black !important;
    background-color: transparent;
}
.navbar .nav > li > a:hover {
    float: none;
    color: yellow;
    background-color: grey;
}

.glyphicon.glyphicon-cog {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin: auto 10px;
    font-size: 30px;
    color: rgb(200,200,200);
}
