/*.setting-glyph-div {
    position: absolute;
    width: 100%;
    height: 52px;
    z-index: 10 !important;
    top: 0px;
}
.setting-glyph-div:hover ~ .navbar-div {
  display: block;
  z-index: 20 !important;
}
.setting-glyph-div:hover {
  display: none;
  z-index: -20 !important;
}*/
/*.glyphicon.glyphicon-cog {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin: auto 10px;
    font-size: 30px;
    color: rgb(200,200,200);
}*/


.navbar .nav > li > a {
    float: none;
    color: black !important;
    background-color: transparent;
}
.navbar .nav > li > a:hover {
    float: none;
    /*color: yellow !important;*/
    background-color: transparent;
    font-size: 16px;


}
.navbar-div {
    position: absolute;
    padding: 0;
    top: 0;
    width: 100%;
    background-color: transparent !important;
}
.navbar-div:hover {
    display: block;
}
.my-navbar {
  padding: 0px !important;
  margin: 0px !important;
  background-image: none !important;
  background-color: transparent !important;
  border-color: transparent !important;
  color: red !important;
}
