.game-title {
  color: black !important;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: rgba(255, 255, 255, .5) 0px 1px 0px;
}

.navbar .nav > li > a {
    float: none;
    color: black !important;
    background-color: transparent;
}
.navbar .nav > li > a:hover {
    float: none;
    /*color: yellow !important;*/
    background-color: transparent;
    font-size: 16px;
}
.navbar-div {
    position: absolute;
    padding: 0;
    top: 0;
    width: 100%;
    background-color: transparent !important;
}
.navbar-div:hover {
    display: block;
}
.my-navbar {
  padding: 0px !important;
  margin: 0px !important;
  background-image: none !important;
  background-color: transparent !important;
  border-color: transparent !important;
  color: red !important;
}
