<%= render "shared/errors" %>

<div class=' new-user-box dialog-box frosted' id=''>
  <p class="box-label" id="start-game-message"><h1>New User</h1>
</p>


  <form action="<%= users_url %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <div class='my_username'>
      <label for="user_username">User Name--- </label>
      <input type="text"
             name="user[username]"
             id="user_username">
     </div>

    <div class='my_password'>
      <label for="user_password">Password</label>
      <input type="password"
             name="user[password]"
             id="user_password" >
    </div>

    <input type="submit">
  </form>
</div>
