<%= render "shared/errors" %>

<div class='user-session-box new-user-box dialog-box frosted' id=''>
  <p class="my-dialog-font" id="">New User</p>


  <form action="<%= users_url %>" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
      <%= render partial: "layouts/user_pass" %>
  </form>
</div>
