<div class="CSSTableGenerator" >
  <table >
      <tr>
          <td class='result-label-1'>
            Score:
          </td>

          <td class='result-string-1'>
            0
          </td>

      </tr>

      <tr>
          <td class='result-label-1'>
            Accuracy (%):
          </td>


          <td class='result-string-1' >
              0
          </td>

      </tr>

  </table>
</div>
