<div class="CSSTableGenerator" >
  <table >
      <tr>
          <td class='result-label-1'>
            wpm:
          </td>

          <td class='result-string-1' id='result-string-1'>
            0
          </td>
      </tr>

      <tr>
          <td class='result-label-1'>
            accuracy (%):
          </td>

          <td class='result-string-2' id='result-string-2' >
              0
          </td>

      </tr>

  </table>
</div>
