<div class="CSSTableGenerator" >
  <table >
      <tr>
          <td >
            <p id=''>
              Your score was:
            </p>
          </td>

          <td>
            <p id='result-string-1'>
              0
            </p>
          </td>

      </tr>

      <tr>
          <td >
            <p id='result-string-2'>
              Your weakness was:
            </p>
          </td>

          <td>
              Row 2
          </td>

      </tr>

  </table>
</div>
