<div class='my_username'>
  <label for="user_username">User Name </label>
  <input type="text"
         name="user[username]"
         id="user_username">
 </div>

<div class='my_password'>
  <label for="user_password">Password</label>
  <input type="password"
         name="user[password]"
         id="user_password" >
</div>
<br>
<input type="submit">
